Key Usage on Root CA & Intermediate CA Certificates

We need to make sure we're setting the key usage correctly on root and intermediate certificates generated by `step certificate create`. Currently the intermediate certificates have "Key Encipherment" set as a key usage and "TLS Web [Client/Server] Authentication" set in extended key usage. Root certificates have "Key Encipherment". Best I can tell these usages aren't required for CA intermediate and root certificates and should probably be removed.

See Let's Encrypt's [root](https://censys.io/certificates/0687260331a72403d909f105e69bcf0d32e1bd2493ffc6d9206d11bcd6770739) and [intermediate](https://censys.io/certificates/25847d668eb4f04fdd40b12b6b0740c567da7d024308eb6c2c96fe41d9de218d) certificates for examples.

But Let's Encrypt is just one data point... I'm not sure where this stuff is actually specified. [RFC 5280](https://tools.ietf.org/html/rfc5280) seems like a good starting point but the [section on Key Usage](https://tools.ietf.org/html/rfc5280#section-4.2.1.3) references three other RFCs ([RFC3279], [RFC4055], and [RFC4491]) for extensions that should be used for various algorithms. There might be more info in CAB Browser Forum stuff somewhere?

I don't think this is a major problem, but at some point we should dig deeper on this and make sure we're doing the right thing here. Or, even better, maybe someone who knows the answer here will stumble on this and clarify for us :).

Looks like you are correct. We've got extraneous key usage and extended key usage. We don't need digital sig or keyencipherment for either root or intermediate, and the intermediate does not need client/server auth. This branch https://github.com/smallstep/cli/tree/keyusage has my recommended changes.

I noticed that `defaultIntermediateProfile()` is using the same code from `generate_cert.go`:

https://github.com/smallstep/cli/blob/fdb4c2bede8ce75c64526afb9b63c072c3f58932/crypto/x509util/intermediateProfile.go#L35

And has this same problem: https://github.com/golang/go/issues/36499

(I noticed this because Caddy users are seeing errors, which I can confirm: https://caddy.community/t/internal-ssl-certificate-is-not-standards-compliant-on-macos/8933

Here's some relevant linter output:

```
cablint	ERROR	Unallowed key usage for EC public key (Key Encipherment)
zlint	NOTICE	ECDSA end-entity certificates MAY have key usages: digitalSignature, nonRepudiation and keyAgreement
```